body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: none;
    display: block;
}

.header__wrapper {
    width: 100vw;
    height: 80px;
    background: white;
    border-bottom: 1px solid var(--g-color-base-generic-medium);
}

.header__title {
    padding: 0 20px;
    height: 80px;
    line-height: 90px;
    float: left;
}

.header__search {
    float: right;
    height: 80px;
    margin-top: 15px;
    padding: 0 20px;
    width: 400px;
}
